body {
    font-family: Work Sans,sans-serif;
    font-weight: 400;
    line-height: 1.666em;
    letter-spacing: .01em;
    font-size: 16px;
    color: #485666;
    max-width: 100vw;
    direction: ltr;
    unicode-bidi: isolate;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    height: 100vh; /* for slider canvas background */
    scroll-behavior: smooth;
}
.gray {
  color: #6D6D6D !important;
}

@media (min-width: 769px) {
  .container {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .col {
    padding: 0 !important;
  }
    
  h1 {
    font-size: 56px;
    font-weight: 800;
    color: #233f98;
  }
  h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #000;
  }
  h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #000;
  }
  h4 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }
  h5 {
    font-weight: bold;
    font-size: 16px;
    color: #000;
  }
  h6 {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: .13em;
  }
  p {
      font-size: 16px;
      line-height: 1.666em;
      color: #000;
      font-weight: 400;
  }
  .fs-12{
    font-size: 12px;
    font-weight: normal;
    color: #000;
    line-height: 14px !important;
    display: -webkit-inline-box;
  }
  .fs-12-w{
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    line-height: 14px !important;
    display: -webkit-inline-box;
  }
  .ms-6{
    margin-left: 10%;
  }
  .mb-6 {
    margin-bottom: 130px;
  }
  .mb-7 {
    margin-bottom: 220px;
  }
}
/* Navbar - START */
.navbar-toggle {
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  position: sticky;
  z-index: 20;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
}
.navbar-toggle .line {
  fill: none;
  transition-delay: 400ms, 0;
  transition-property: stroke, stroke-dasharray, stroke-dashoffset;
  transition-timing-function: ease;
  transition-duration: 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}
.navbar-toggle .line.top {
  stroke-dasharray: 40 139;
}
.navbar-toggle .line.bottom {
  stroke-dasharray: 20 180;
  stroke-dashoffset: -20px;
}
.navbar-toggle.active {
  transform: rotate(45deg);
}
.navbar-toggle.active .line {
  stroke: #FFFFFF;
}
.navbar-toggle.active .line.top {
  stroke-dashoffset: -98px;
}
.navbar-toggle.active .line.bottom {
  stroke-dashoffset: -138px;
}
.navbar-toggle:not(.active):hover .line.bottom {
  stroke-dasharray: 40 180;
  stroke-dashoffset: 0px;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  align-items: center;
  justify-content: center;
}
.navbar ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar ul li {
  opacity: 0;
}
.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-align: left;
  padding: 20px 0;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease 500ms;
  position: relative;
}
.navbar ul li a:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  opacity: 0;
  transition: opacity ease 500ms;
}
.navbar ul li a:hover {
  letter-spacing: 3px;
}
.navbar ul li a:hover:before {
  opacity: 0.2;
}

#bg-circle {
  transform: scale(0);
  width: 80px;
  height: 80px;
  background: #233f98;
  position: fixed;
  top: 1.5rem;
  right: 10.5rem;
  border-radius: 50%;
  z-index: 1;
}
/* Navbar - END */

.bg-1 {
  position: absolute;
  right: 0;
  z-index: -5;
  max-width: 100%;
}
.bg-2 {
  position: absolute;
  left: 0;
  z-index: -5;
  max-width: 100%;
}
.bg-3 {
  position: absolute;
  left: 0;
  z-index: -5;
  max-width: 100%;
}
.bg-4 {
  position: absolute;
  left: 0;
  z-index: -5;
  width: 100%;
  transform: translate(0px, -550px);
}
.bg-5 {
  background: rgba(122, 180, 210, 0.1);
  padding-top: 90px;
  padding-bottom: 100px;
}
.banner2 {
  width: 100%;
  height: 217px;
  background: rgba(178, 212, 235, 0.3);
  margin-bottom: 126;
}
.mt-6 {
  margin-top: 190px;
}
.slider-top{
    margin-top: 5%;
    margin-bottom: 10%;
}
.txt-bg {
    padding-top: 10px!important;
    padding-right: 20px!important;
    padding-bottom: 10px!important;
    padding-left: 20px!important;
    color: #e6512e;
    background: #ffefe3;
    
}
.circle {
  border-radius: 50em!important;
}
.w-fit {
  width: fit-content;
}
.br-5 {
  border-radius: 5px;
}
.btn-txt {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .1em;
}
a {
  color: black;
  text-decoration: none;
}
#canvas {
  display: block;
  width: 100%;
  z-index: -1;
  top: 0;
  position: absolute;
}

.btn-new {
  background-color: #223f99;
  border: none;
  border-radius: 16px;
  box-shadow: 0 .5rem 1.5rem rgba(34,63,153,.30)!important;
}
/* under slider cards - start */
.card-pic1 {
  background:radial-gradient(circle at 50% 50%, #223f98, rgba(0, 0, 0, 0) 103%), 
            linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(/img/card1.png);
  min-height: 300px !important;
  
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transition: all 0.3s;
}
.card-pic1:hover{
  background:radial-gradient(circle at 50% 50%, #223f98, rgba(0, 0, 0, 0) 103%), 
            linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(/img/card1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transform: scale(1.05);
  
  /*filter: blur(2px),;
  -webkit-filter: blur(2px);*/
}
.card-pic2 {
  background:radial-gradient(53.63% 67.55% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(250, 255, 15, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(/img/card2.png);
  min-height: 300px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transition: all 0.3s;
}
.card-pic2:hover{
  background:radial-gradient(53.63% 67.55% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(250, 255, 15, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(/img/card2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transform: scale(1.05);
  
  /*filter: blur(2px),;
  -webkit-filter: blur(2px);*/
}
.card-pic3 {
  background:radial-gradient(52.5% 108.86% at 50% 50%, rgba(34, 63, 152, 0.5) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(/img/card3.png);
  min-height: 300px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transition: all 0.3s;
}
.card-pic3:hover{
  background:radial-gradient(52.5% 108.86% at 50% 50%, rgba(34, 63, 152, 0.5) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
            url(/img/card3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transform: scale(1.05);
  
  /*filter: blur(2px),;
  -webkit-filter: blur(2px);*/
}
.card-pic4 {
  background:radial-gradient(65% 197.14% at 60.47% 50%, rgba(0, 0, 0, 0) 0%, rgba(255, 245, 8, 0.3) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(/img/card4.png);
  min-height: 300px !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transition: all 0.3s;
}
.card-pic4:hover{
  background:radial-gradient(65% 197.14% at 60.47% 50%, rgba(0, 0, 0, 0) 0%, rgba(255, 245, 8, 0.3) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(/img/card4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transform: scale(1.05);
  
  /*filter: blur(2px),;
  -webkit-filter: blur(2px);*/
}
.card-text{
  transition: all 0.3s;
  color: #fff !important;
  font-size: 20px;
  font-weight: normal;
}
.card-pic:hover > .card-text{
  transform: scale(1.05);
}
/* unser slider cards - end */

.txt-underline {
  display: flex;
  height: 13px;
  background: rgba(113,252,188,.65);
  margin-top: -32px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5%;
}

.nav-link {
  color: black;
}
/* circular scroll to top - start */
.progress-wrap {
	position: fixed;
	right: 50px;
	bottom: 50px;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	border-radius: 50px;
	box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	z-index: 10000;
	opacity: 0;
	visibility: hidden;
	transform: translateY(15px);
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap.active-progress {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.progress-wrap::after {
	position: absolute;
	
	content: '\2191';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	color: black;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 1;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::after {
	opacity: 0;
}
.progress-wrap::before {
	position: absolute;
	content: '\2191';
	text-align: center;
	line-height: 46px;
	font-size: 24px;
	opacity: 0;
	background-image: linear-gradient(298deg, #297DD5, #FCF6C3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	left: 0;
	top: 0;
	height: 46px;
	width: 46px;
	cursor: pointer;
	display: block;
	z-index: 2;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.progress-wrap:hover::before {
	opacity: 1;
}
.progress-wrap svg path { 
	fill: none; 
}
.progress-wrap svg.progress-circle path {
	stroke: black;
	stroke-width: 4;
	box-sizing:border-box;
	-webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
body.light .progress-wrap {
	box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
}
body.light .progress-wrap::after {
	color: #223f98;
}
body.light .progress-wrap svg.progress-circle path {
	stroke: #223f98;
}
.circle {
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
} 
.circle {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -5px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #42c3ca;
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
	animation: border-transform 10s linear infinite alternate forwards;
}
.circle:hover {
	box-shadow: 0 8px 8px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}
.circle:before {
	position: absolute;
	font-family: 'unicons';
	content: '\eac1';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	opacity: 1;
	color: black;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.circle:after {
	position: absolute;
	font-family: 'unicons';
	content: '\2191';
	top: 0;
	left: 0;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 100%;
	height: 40px;
	color: yellow;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
/* circular scroll to top - end */

/* Border Radius Morphing Anim - START */
.moving_shape {
  width: 100%;
  height: 100%;
  background-image: url(/img/slider-top-pic.jpg) !important;
  background-repeat: repeat;
  background-size: cover;
  animation: bg-move 30s linear infinite forwards, 
             border-move 15s linear infinite forwards;
}

.container-slider {
  height: 519px;
  width: 100%;
}
@keyframes border-move{
  0%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
  10%{ border-radius:39% 61% 38% 62% / 53% 54% 46% 47%; }
  20%{ border-radius:56% 44% 52% 48% / 57% 35% 65% 43%; }
  30%{ border-radius:41% 59% 45% 55% / 33% 56% 44% 67%; }
  40%{ border-radius:46% 54% 60% 40% / 55% 74% 26% 45%; }
  50%{ border-radius:44% 56% 22% 78% / 31% 74% 26% 69%; }
  60%{ border-radius:31% 69% 32% 68% / 31% 71% 29% 69%; }
  70%{ border-radius:44% 56% 60% 40% / 63% 36% 64% 37%; }
  80%{ border-radius:46% 54% 38% 62% / 44% 48% 52% 56%; }
  90%{ border-radius:66% 34% 57% 43% / 49% 51% 49% 51%; }
  100%{ border-radius:51% 49% 34% 66% / 39% 66% 34% 61%; }
}
/* Border Radius Morphing Anim - END */
/* Writing text for slider - START */
.writing-text {
  position: relative;
  min-width: 150px;
  font-weight: normal;
  color: #000;
  min-height: 66px;
  display: block;
}

.writing-text:before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
}
/* Writinh text for slider - END */

/* Paper animation - START */
.stack{
  
  transform: translate(200px, -170px) scale(1.5);
  width: fit-content;
}

.paper{
  position: absolute;
  box-shadow: 2px 2px 0px rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

#p-1{
  width: 200px;
  height: 200px;
  background-color: #F8EEA9;
  
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#p-2{
  width: 200px;
  height: 200px;
  background-color: #BCD9ED;
  
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#p-3{
  width: 200px;
  height: 210px;
  background-color: #FFFBD7;
  
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.p1-animation {
  animation-name: drop1;
  transform: rotate(10deg) translate(-80px, 70px) scale(0.9);
}
.p2-animation {
  animation-name: drop2;
  transform: rotate(-15deg) translate(-20px, -60px) scale(0.9);
}
.p3-animation {
  animation-name: drop3;
  transform: rotate(5deg) translate(60px, 30px) scale(0.9);
}

@keyframes drop3 {
    0%   {
      transform: rotate(-10deg) translate(20px, 0);
      opacity: 0;
      
    }
    40%    {
      transform: rotate(-13deg) translate(20px, 0) scale(0.9);
      opacity: 1;
      
    }
    100%   {
      transform: rotate(5deg) translate(60px, 30px) scale(0.9);
      
    }
}

@keyframes drop2 {
    0%   {
      transform: rotate(5deg) translate(0, 0);
      opacity: 0;
      box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    }
    40%   {
      transform: rotate(0deg) translate(10px, -10px) scale(0.85);
      opacity: 1;
    }
    100%   {
      transform: rotate(-15deg) translate(-20px, -60px) scale(0.9);
    }
} 

@keyframes drop1 {
    0%   {
      transform: rotate(15deg) translate(0, 0);
      box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
      opacity: 0;
    }
    40%   {
      transform: rotate(20deg) translate(10px, -10px) scale(0.85);
      opacity: 1;
    }
    100%   {
      transform: rotate(10deg) translate(-80px, 70px) scale(0.9);
    }
}

/* Paper animation - END */
/* banner - START */
.banner {
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), url(/img/banner.png);
  padding-top: 212px;
  padding-bottom: 212px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 125px;
  margin-bottom: 125px;
}
.banner3 {
  width: 100%;
  padding-top: 212px;
  padding-bottom: 212px;
  background-repeat: no-repeat;
  background-size: cover;
  background: none;
}
.banner-text {
  font-size: 64px;
  font-weight: 900;
  color: #fff;
  line-height: normal;
}
.banner-text3 {
  font-size: 64px;
  font-weight: 900;
  line-height: normal;
  background-image: url(/img/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.glitch {
  position: relative;
  width: 400px;
  margin: 0 auto;
}
.glitch-bg3 {
  background-image: url(/img/banner.png);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes noise-anim {
  0% {
    clip: rect(20px, 9999px, 57px, 0);
  }
  5% {
    clip: rect(66px, 9999px, 8px, 0);
  }
  10% {
    clip: rect(28px, 9999px, 98px, 0);
  }
  15% {
    clip: rect(45px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(71px, 9999px, 8px, 0);
  }
  25% {
    clip: rect(79px, 9999px, 58px, 0);
  }
  30% {
    clip: rect(1px, 9999px, 22px, 0);
  }
  35% {
    clip: rect(29px, 9999px, 79px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(82px, 9999px, 15px, 0);
  }
  50% {
    clip: rect(77px, 9999px, 46px, 0);
  }
  55% {
    clip: rect(45px, 9999px, 22px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 38px, 0);
  }
  65% {
    clip: rect(40px, 9999px, 56px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 46px, 0);
  }
  75% {
    clip: rect(42px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(48px, 9999px, 72px, 0);
  }
  85% {
    clip: rect(72px, 9999px, 92px, 0);
  }
  90% {
    clip: rect(100px, 9999px, 96px, 0);
  }
  95% {
    clip: rect(16px, 9999px, 8px, 0);
  }
  100% {
    clip: rect(100px, 9999px, 99px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: none;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(50px, 9999px, 87px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 67px, 0);
  }
  10% {
    clip: rect(22px, 9999px, 81px, 0);
  }
  15% {
    clip: rect(56px, 9999px, 93px, 0);
  }
  20% {
    clip: rect(23px, 9999px, 45px, 0);
  }
  25% {
    clip: rect(51px, 9999px, 85px, 0);
  }
  30% {
    clip: rect(36px, 9999px, 94px, 0);
  }
  35% {
    clip: rect(21px, 9999px, 49px, 0);
  }
  40% {
    clip: rect(19px, 9999px, 49px, 0);
  }
  45% {
    clip: rect(51px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(36px, 9999px, 8px, 0);
  }
  55% {
    clip: rect(55px, 9999px, 44px, 0);
  }
  60% {
    clip: rect(93px, 9999px, 87px, 0);
  }
  65% {
    clip: rect(42px, 9999px, 46px, 0);
  }
  70% {
    clip: rect(40px, 9999px, 79px, 0);
  }
  75% {
    clip: rect(10px, 9999px, 53px, 0);
  }
  80% {
    clip: rect(99px, 9999px, 32px, 0);
  }
  85% {
    clip: rect(90px, 9999px, 42px, 0);
  }
  90% {
    clip: rect(64px, 9999px, 58px, 0);
  }
  95% {
    clip: rect(81px, 9999px, 58px, 0);
  }
  100% {
    clip: rect(69px, 9999px, 73px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: none;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}
/* banner - END */
/* Footer - START */
.footer-link {
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #223F98;
  background: #EBEBEB;
  border-radius: 16px;
  display: -webkit-inline-box;
  margin: 8px;
}
.footer-lb {
  margin-left: -8px;
}
.form-input {
  width: -webkit-fill-available;
  padding: 10px 10px 10px 16px;
  background: #EBEBEB;
  border: none;
  margin-bottom: 16px;
}
.form-button {
  width: -webkit-fill-available;
  padding: 10px;
  color: #fff;
  background: #223F98;
  border-radius: 12px;
  border: none;
}
.lts-talk span {
  position: relative;
  top: 10px;
  display: inline-block;
  -webkit-animation: bounce 0.3s ease infinite alternate;
  text-shadow: 0 1px 0 #d1d6e6, 0 2px 0 #d1d6e6, 0 3px 0 #d1d6e6, 0 4px 0 #d1d6e6,
    0 5px 0 #d1d6e6, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.lts-talk span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

.lts-talk span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

.lts-talk span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

.lts-talk span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

.lts-talk span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

.lts-talk span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

.lts-talk span:nth-child(8) {
  -webkit-animation-delay: 0.2s;
}

.lts-talk span:nth-child(9) {
  -webkit-animation-delay: 0.3s;
}

.lts-talk span:nth-child(10) {
  -webkit-animation-delay: 0.4s;
}

.lts-talk span:nth-child(11) {
  -webkit-animation-delay: 0.5s;
}

.lts-talk span:nth-child(12) {
  -webkit-animation-delay: 0.6s;
}

.lts-talk span:nth-child(13) {
  -webkit-animation-delay: 0.7s;
}

.lts-talk span:nth-child(14) {
  -webkit-animation-delay: 0.8s;
}

/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -10px;
    text-shadow: 0 1px 0 #d1d6e6, 0 2px 0 #d1d6e6, 0 3px 0 #d1d6e6, 0 4px 0 #d1d6e6,
    0 5px 0 #d1d6e6, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 50px 25px rgba(0, 0, 0, 0.2);
  }
}
/* Footer - END */